<header class="header items-center py-2">
  
  <div class="header-menu-nav flex x-data">
    <button class="flex md:hidden" @click="$dispatch('toggle-menu')">
      {% render 'icon-hamburger', class: 'w-10 ml-3' %}
    </button>

    <ul class="header__menu-nav hidden md:flex z-10">
      {% for link in section.settings.menu.links %}
        {% if link.links != blank %}
          <li class="nav__item py-4 px-4 block relative"> 
            <a href="{{ link.url }}"> {{link.title}} </a> 
          <ul class="nav__item-submenu absolute bg-gray-50 rounded py-2 px-5 transform">
            {% for sublink in linklists[link.handle].links %}
              <li>
                <a class="block py-1 hover:text-black" href="{{ sublink.url }}"> {{ sublink.title }} </a>
              </li>
            {% endfor %}
          </ul>
          </li>
          {% else %}
            <li>
              <a class="nav__item py-4 px-4 block hover:text-black" href="{{ link.url }}"> {{ link.title }} </a>
            </li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>

  <div class="header-logo justify-{{section.settings.logo_position}} flex">
    {% if section.settings.logo != blank %}
    {% assign image_size = section.settings.logo_width %}
        <a class="mr-1 md:mr-0" href="/" style="max-width: {{section.settings.logo_width}}px"> 
        <img  src="{{section.settings.logo | img_url: 'master'}}" alt="company logo">
        </a>
      {% else %}
        <a href="/" style="max-width: 170px;"> {{ shop.name }} </a> 
    {% endif %}
  </div>
  
  <div class="header-icons flex justify-end mr-2 md:mr-8">
    <div class="icon-container flex space-x-6 md:space-x-10">
      {%- if shop.customer_accounts_enabled -%}
      <a href="{{ routes.account_url }}" title="account link">
        {% render 'icon-account', class: "h-4 md:h-6" %}
        <span class="sr-only">
          {%- liquid
            if customer
              echo 'customer.account_fallback' | t
            else
              echo 'customer.account_fallback' | t
            endif
          -%}
        </span>
      </a>
      {%- endif -%}
      <button type="button" title="Cart button">
        {% render 'icon-cart', class: "h-4 md:h-6" %}
        <span class="sr-only"> {{ "templates.cart.cart" | t }} </span>
      </button>
    </div>
  </div>
  </header>

  {% render 'mobile-menu' %}



<!-- shopify Config -->
<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Organization",
    "name": {{ shop.name | json }},
    {% if settings.logo %}
      "logo": {{ settings.logo | image_url: width: 500 | prepend: "https:" | json }},
    {% endif %}
    "sameAs": [
      {{ settings.social_twitter_link | json }},
      {{ settings.social_facebook_link | json }},
      {{ settings.social_pinterest_link | json }},
      {{ settings.social_instagram_link | json }},
      {{ settings.social_tiktok_link | json }},
      {{ settings.social_tumblr_link | json }},
      {{ settings.social_snapchat_link | json }},
      {{ settings.social_youtube_link | json }},
      {{ settings.social_vimeo_link | json }}
    ],
    "url": {{ request.origin | append: page.url | json }}
  }
</script>

{%- if request.page_type == 'index' -%}
  {% assign potential_action_target = request.origin | append: routes.search_url | append: "?q={search_term_string}" %}
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "WebSite",
      "name": {{ shop.name | json }},
      "potentialAction": {
        "@type": "SearchAction",
        "target": {{ potential_action_target | json }},
        "query-input": "required name=search_term_string"
      },
      "url": {{ request.origin | append: page.url | json }}
    }
  </script>
{%- endif -%}

{% schema %}
  {
    "name": "t:sections.header.name",
    "class": "section-header",
    "settings": [
      {
        "type": "image_picker",
        "id": "logo",
        "label": "Logo Image"
      },
      {
        "type": "range",
        "id": "logo_width",
        "min": 50,
        "max": 250,
        "step": 10,
        "default": 100,
        "unit": "px",
        "label": "Logo Width"
      },
      {
        "type": "select",
        "id": "logo_position",
        "options": [
          {
            "value": "start",
            "label": "left"
          },
          {
            "value": "center",
            "label": "center"
          },
          {
            "value": "end",
            "label": "right"
          }
        ],
        "default": "center",
        "label": "Logo Position"
      },
      {
        "type": "link_list",
        "id": "menu",
        "default": "main-menu",
        "label": "Menu Item"
      }
    ]
  }
  {% endschema %}
